@media(max-width: 735px) {

    .top {
        width: 375px;
        height: 735px;
        flex-shrink: 0;
        background-image: url(Img/smallfon.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

        .center {
            width: 375px;
            height: 1221px;
            flex-shrink: 0;
    }
    .header {
        padding-top: 0px;
        padding-left: 0px;
        &__button {
            width: 234.063px;
            height: 48.603px;
            flex-shrink: 0;
            border-radius: 30px;
            background: #9C0332;
            margin-left: 70px;
        }
        &__text {
            display: flex;
            width: 343px;
            height: 77.436px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: #FFF;
            text-align: center;
            font-size: 32px;
            font-family: Montserrat;
            font-weight: 700;
            padding-left: 16px;
            padding-top: 238px;
    &_lite {
            display: flex;
            width: 343px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-family: Montserrat;
            font-weight: 300;
            line-height: 22px;
            padding-left: 16px;

         }
        }   
}

.game {
    &__box {    
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        gap: 32px;
        &_1 {
            width: 343px;
            height: 300px;
            flex-shrink: 0;
        }
        &_2 {
            width: 343px;
            height: 300px;
            flex-shrink: 0;
        }
        &_3 {
            width: 343px;
            height: 300px;
            flex-shrink: 0;
        }
    }
}


.svg {
    &__desc{
        display: none;
    }
    &__mobile{
        display: flex;
        justify-content: center;
        padding-top: 64px;
    }
}
.gamePlay {
    width: 375px;
    height: 653.61px;
    &__three {
        background-image: url(Img/game3mobi.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__box {
        flex-direction: column;
        padding-top: 51px;
    }
    &__textarea {
        width: 375px;
        height: auto;
        display: flex;
        gap: 32px;
        padding-right: 0px;
        flex-direction: column;
        align-items: center;
        width: none;
        height: none;
    }
    &__textareaOne {
        width: 375px;
        height: auto;
        display: flex;
        gap: 32px;
        padding-right: 0px;
        flex-direction: column;
        align-items: center;
        width: none;
        height: none;
        padding-left: 0px;
    }
    &__textlite {
        display: flex;
        width: 343px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        &_three {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
            display: flex;
            width: 343px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
        }
    }
    &__textbold {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
.footer {
    width: 375px;
    height: 80px;
    flex-shrink: 0;
    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

}


