* {
    margin: 0;
    padding: 0;
}

.top {
    width: 1440px;
    height: 1024px;
    flex-shrink: 0;
    background-image: url(Img/TopBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 217px;
    padding-left: 120px;
    &__button {
        width: 234.063px;
        height: 48.603px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #9C0332;
        &_text {
            color: #FFF;
            font-size: 18px;
            font-family: Montserrat;
        }
    }
    &__text {
        display: flex;
        width: 788.778px;
        height: 125.007px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        font-size: 64px;
        font-family: Montserrat;
        font-weight: 700;

        &_lite {
            display: flex;
            width: 481px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: #FFF;
            font-size: 18px;
            font-family: Montserrat;
            font-weight: 300;
            line-height: 32px;
            margin-top: 32px;
            margin-bottom: 44px;
            
        }
    }

}

.game {
    width: 1440px;
    height: 556px;
    flex-shrink: 0;
    background: #000915;

    &__item {

         &_1 {
            padding-top: 236px;
            padding-left: 32px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            }
        &_2 {
            padding-top: 236px;
            padding-left: 32px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
        &_3 {
            padding-top: 236px;
            padding-left: 32px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
    }
    &__box {
        padding-top: 128px;
        padding-bottom: 128px;
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        &_transition {
            transition: all 0.5s;
        }
        &_1 {
            background-image: url(Img/game_1.png);
            border-radius: 16px;
            grid-column: span 5;
            width: 378px;
            height: 300px;
            &:hover {
                border-radius: 16px;
                background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(Img/game_1.png);
            }
        }
        &_2 {
            background-image: url(Img/game_2.png);
            border-radius: 19px;
            grid-column: span 5;
            width: 378px;
            height: 300px;
            &:hover {
                border-radius: 16px;
                background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(Img/game_2.png), lightgray 50% / cover no-repeat;
            }
        }
        &_3 {
            background-image: url(Img/game_3.png);
            border-radius: 16px;
            grid-column: span 5;
            width: 378px;
            height: 300px;
            &:hover {
                border-radius: 16px;
                background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(Img/game_3.png), lightgray 50% / cover no-repeat;
            }
        }
    }
}

.bold {
    font-weight: bold;
}

@import 'mobile.scss'